apiVersion: apps/v1
kind: Deployment
metadata:
  name: db-deployment
  labels:
    app: db
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db
  template:
    metadata:
      labels:
        app: db
    spec:
      containers:
        - name: postgres
          image: postgres:16-alpine
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_USER
              value: "postgres"
            - name: POSTGRES_PASSWORD
              value: "76156047"
            - name: POSTGRES_DB
              value: "sabitarot_db"
          volumeMounts:
            - name: db-data
              mountPath: /var/lib/postgresql/data
      volumes:
            - name: db-data
              persistentVolumeClaim:
                claimName: postgres-pvc
